# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Below from http://drupal.org/node/1542048
# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej
interdiff*.txt

# Ignore certain Drupal modules.
search_krumo

# Ignore logs from git-ftp.
.git-ftp.log

# Sass cache files.
.sass-cache
